@{
    ViewBag.Title = "Swagger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style=" overflow: hidden;
  padding-top: 56.25%;
  position: relative;">
        <iframe src="/swagger" frameborder="0" style="border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;" allowfullscreen></iframe>
    </div>

    